body{
    display: grid;
    place-content: center;
}

.container{
    height: 300px;
    width: 250px;
    perspective: 1000px;
}
.card{
    height: inherit;
    width: inherit;
    transform-style: preserve-3d;
    position: relative;
    transition: 1s;
    box-shadow: 2px 10px 40px 10px black;
    border-radius: 10px;
}
.container:hover .card{
    transform: rotateY(180deg);
    
}
.front, .back{
    height: inherit;
    width: inherit;
    position: absolute;
    font-size: 40px;
    color: white;
    display: grid;
    place-items: center;
    backface-visibility: hidden;
    border-radius: 10px;
}

.front{
    background: blue;
}    
.back{
    background: red;
    transform: rotateY(180deg);
}